.parent{
    height: 800px;
    width: 100%;
    background-color: white;
    position: relative;
    

}
.col{
    height: 600px;
    width: 317px;
    border: 9px black solid;
    position: absolute;
    top: 156px;
    left: 50px;
}
.col1{
    background-color: black;
    left: 50px;
}
.col2{
    background-color: black;
    left: 401px;
}
.col3{
    background-color: black;
    left: 752px;
}
.col4{
    background-color: black;
    left: 1103px;

}
.col5{
    background-color: black;
    left: 1454px;
}
img{
    width: 100%;
    height: 265px;
}
h1{
    text-align: center;
    color: rgb(211, 211, 25);
}
h3{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
    padding: 1px;
}
.rating1{
    width: 180px;
    height: 30px;
    background-color: red;
    margin-left: 59px;
    margin-top: 65px;
    padding: 7px;
    border-radius: 20px;
}
h4{
    text-align: center;
    margin-top: 5px;
}
.r1{
    margin-top: 81px;
}
.r3{
    margin-top: -5px;
}
.r2{
    margin-top: 63px;
}
.r5{
    margin-top: 84px;
}
.r4{
    margin-top: 117px;
}
body{
    background-image: url(./images/nweeeer.jpg);
    background-size: cover;
}

